body {
    font-family: verdana;
    background-color: #ffffff;
}

#google_translate_element {
    position: absolute;
    top: 100px;
    right: 800px;
    width:100px;
    height:100px;
}

h1, p, td, label {
    color: #022b3a;
}

ul.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f7a8c;
}

li.nav {
    float: left;
}

li a {
    display: block;
    padding: 4px 24px;
    text-decoration: none;
    color: black;
}

li a.nav p {
    color: white;
}

li a.nav:hover {
    background-color: #022b3a;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ol li:hover {
    background-color: #1f7a8c;
    width: 20%;
}

ol li a:hover {
    color: white;
}

table {
    border-collapse: collapse;
    width: 60%;
    background-color: #bfdbf7;
    float: left;
    margin-bottom: 36px;
}

table,th,td {
    border: 1px solid black;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #e1e5f2;
}

td.day {
    font-weight: bold;
}

td p.time {
    font-style: italic;
}

.goldydiv {
    float: right;
    text-align: center;
    height: 600px;
}

#goldy {
    width: 350px;
    padding: 72px;
}

.goldydiv button {
    display: inline-block;
    margin: 0 auto;
}

#mapAndForm {
    width: 1000px;
    margin: 36px;
}

#dirList {
    position: absolute;
    visibility: hidden;
    top: 850px;
    right: 1300px;
    width: 500px;
    height: 400px;
    float: left;
    margin-bottom: 36px;
    overflow: scroll;
}

#map {
    position: absolute;
    top: 850px;
    right: 700px;
    height: 400px;  /* The height is 400 pixels */
    width: 1100px;  /* The width is the width of the web page */
    margin-bottom: 36px;
    float: left;
}

#formMap {
    height: 800px;
    float: right;
    width: 68%;
}

#mapForm {
    position: absolute;
    top: 850px;
    right: 300px;
    width: 400px;
    height: 400px;
    float: right;
    background-color: #bfdbf7;
    margin-bottom: 36px;
}

#bottomOfScreen {
    position: absolute;
    top: 1500px;
    width:50%;
}

#destination {
    width: 63%;
}

.icon {
    width: 96px;
    display: none;
}

.form {
    float: left;
    margin: auto;
    width: 32%;
}

.formItem {
    margin: 24px;
}

label {
    display: inline-block;
    width: 25%;
}

input {
    display: inline-block;
}

#success {
    margin: 64px;
}

.widgetDiv {
    margin: auto;
    padding-top: 36px;
    width: 60%;
}

.widgetLeft {
    width: 20%;
    clear: both;
    float: left;
}

.widgetRight {
    width: 20%;

    float: right;
}


.twitter-timeline {
    float: right;
    margin: auto;
}

/* Imported from the link in the assignment */
#container {
    position: absolute;
    top: 600px;
    right: 400px;
    width: 500px;
    background: #ffffff;
    border-radius: 5px;
    height: 150px;
    border: 2px solid gray;
    float: right;
    clear: both;
}
#header {
    text-align: center;
    background-color: #1f7a8c;
    border-radius: 5px;
    margin: -39px -20px 10px -20px;
}
h2{
    padding-top: 10px;
    color: white;
}
#content {
    margin-left: 57px;
    margin-top: 40px;
}
#register label{
    margin-right:5px;
}
#register input {
    padding: 5px 14px;
    border: 1px solid #d5d9da;
    box-shadow: 0 0 9px #022b3a inset;
    width: 272px;
    font-size: 1em;
    height: 25px;
}
